node_modules
dist
build
server-dist
.storybook-static
*.min.js
*.js.map
.*rc
*ejs
*.sql
.*ignore
*.*config
*.env
*.opts
*.sh
*.csv
*yarn.lock
package-lock.json
webpack
*Dockerfile
*.js.flow
*.png
*.jpg
*.gif
*.mp4
*.ttf
*.woff
*.woff2
*.ico
*.svg
*.generated.js
*.generated.ts
generated.ts
